// Portrait Phones
@media (max-width: 575.98px) {
  ::ng-deep swiper > .swiper.s-wrapper {
    height: 276px !important;
  }
}

// Landscape Phones
@media (min-width: 576px) and (max-width: 767.98px) {
  ::ng-deep swiper > .swiper.s-wrapper {
    height: 308px !important;
  }
}

// Tablets
@media (min-width: 768px) and (max-width: 991.98px) {
  ::ng-deep swiper > .swiper.s-wrapper {
    height: 308px !important;
  }
}

// Desktops
@media (min-width: 992px) and (max-width: 1279.98px) {
  ::ng-deep swiper > .swiper.s-wrapper {
    height: 308px !important;
  }
}

// Large Desktops
@media (min-width: 1280px) {
  ::ng-deep swiper > .swiper.s-wrapper {
    height: 308px !important;
  }
}

::ng-deep swiper > .swiper.s-wrapper .swiper-pagination {
  position: absolute !important;
  bottom: -8px !important;
}

::ng-deep .swiper-button-next,
::ng-deep .swiper-button-prev {
  outline: 0;
}
