<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="artist.artistCoverPhoto">
    <mat-card-title>Liked Songs</mat-card-title>
    <mat-card-subtitle>
      All your liked songs will appear here
    </mat-card-subtitle>
    <mat-card-subtitle>
      200 Songs
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>

    <button mat-raised-button style="color: black;">
      <i class="material-icons">shuffle</i>
      SHUFFLE PLAY
    </button>
  </mat-card-actions>
</mat-card>
