// Portrait Phones
@media (max-width: 575.98px) {
  mat-card .mat-card-image {
    height: 168px;
    width: 168px;
  }

  mat-card {
    max-width: 136px;
  }
}

// Landscape Phones
@media (min-width: 576px) and (max-width: 767.98px) {
  mat-card {
    max-width: 168px;
  }
}

// Tablets
@media (min-width: 768px) and (max-width: 991.98px) {
  mat-card {
    max-width: 168px;
  }
}

// Desktops
@media (min-width: 992px) and (max-width: 1279.98px) {
  mat-card {
    max-width: 168px;
  }
}

// Large Desktops
@media (min-width: 1280px) {
  mat-card {
    max-width: 168px;
  }
}

mat-card {
  cursor: pointer;
}

mat-card:hover {
  img {
    filter: brightness(60%);
  }

  .options-button {
    visibility: visible;
  }
}

img {
  background-size: cover;
  height: 200px;
  width: 200px;
  transition-duration: 0.2s;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}

.subtitle {
  color: gray;
}

// Prevent Card From Expanding Due to Ripple
.mat-card-content {
  margin-bottom: 0;
}

.options-button {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  transition-duration: 0.1s;
}

.hideDesktop {
  visibility: hidden;
}
