<mat-card>

    <div class="title">
      <h3>Queue</h3>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let song of queue; let i = index" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <mat-list>
          <app-song-list-item-queue
          (addToQueueEvent)="addToQueue($event)"
          (playNextEvent)="playNext($event)"
          (removeFromQueueEvent)="removeFromQueue($event)"

          [songData]="song"
          [songSelected]="i === queuePos">
        </app-song-list-item-queue>
        </mat-list>
      </div>
    </div>

</mat-card>
<!-- (callSongPlayerFunction)="callSongPlayerFunction($event)" -->
