.spacer {
  flex: 1 1 auto;
}
mat-form-field {
  line-height: 0;
}

.icon, mat-icon {
  font-size: 32px;
}

mat-icon {
  padding-right: 8px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mobile-button {
  border-radius: 0;
  margin: 0 8px;
}

.button-icon {
  margin-bottom: 8px;
  margin-right: 8px;
}

.full-button {
  margin: 0 8px;
  padding: 4px 16px;
}

[hidden] {
  display: none !important;
}
