<mat-toolbar color="primary">
  <mat-toolbar-row [hidden]="screenWidth < lg">

    <!-- <button (click)="goToBillboardScreen()" mat-button>Billboard Charts</button>
    <button (click)="goToRadioScreen()" mat-button>Qeenatha Radio</button> -->
    <button mat-raised-button color="primary" class="full-button" (click)="goToBillboardScreen()">
      <mat-icon class="button-icon">table_chart</mat-icon>
      <span>Billboard Charts</span>
    </button>

    <button mat-raised-button color="primary" class="full-button" (click)="goToRadioScreen()">
      <mat-icon class="button-icon">radio</mat-icon>
      <span>Qeenatha Radio</span>
    </button>

    <span class="spacer"></span>

    <!-- Not Logged In-->
    <button *ngIf="!loggedIn" mat-button (click)="openLogInDialog()">Log In</button>
    <button *ngIf="!loggedIn" mat-button (click)="openSignUpDialog()">Sign Up</button>

    <!-- Logged In -->

    <!-- Profile -->
    <button *ngIf="loggedIn"
            mat-icon-button class="material-icons" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>

  </mat-toolbar-row>

    <mat-toolbar-row class="mobile-buttons-container" [hidden]="screenWidth >= lg">

      <span>Qeenatha</span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <!-- <button mat-raised-button color="primary" class="full-button" (click)="goToBillboardScreen()">
        <mat-icon class="button-icon">home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-raised-button color="primary" class="full-button" (click)="goToBillboardScreen()">
        <mat-icon class="button-icon">search</mat-icon>
        <span>Search</span>
      </button>
      <button mat-raised-button color="primary" class="full-button" (click)="goToBillboardScreen()">
        <mat-icon class="button-icon">library_music</mat-icon>
        <span>My Music</span>
      </button>
      <button mat-raised-button color="primary" class="full-button" (click)="goToBillboardScreen()">
        <mat-icon class="button-icon">radio</mat-icon>
        <span>Qeenatha Radio</span>
      </button>
      <button mat-raised-button color="primary" class="full-button" (click)="goToBillboardScreen()">
        <mat-icon class="button-icon">table_chart</mat-icon>
        <span>Billboard Charts</span>
      </button>
      <button mat-raised-button color="primary" class="full-button" (click)="goToBillboardScreen()">
        <mat-icon class="button-icon">account_circle</mat-icon>
        <span>My Account</span>
      </button> -->
  </mat-toolbar-row>

    <!-- Profile Menu -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon style="margin-bottom: 8px;">account_box</mat-icon>
        <span>My Account</span>
      </button>
      <button mat-menu-item (click)="openSettingsDialog()">
        <mat-icon style="margin-bottom: 8px;">settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon style="margin-bottom: 8px;" (click)="logOut()">exit_to_app</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item>
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </button>
      <button mat-menu-item (click)="goToBillboardScreen()">
        <mat-icon>library_music</mat-icon>
        <span>My Music</span>
      </button>
      <button mat-menu-item (click)="goToBillboardScreen()">
        <mat-icon>radio</mat-icon>
        <span>Qeenatha Radio</span>
      </button>
      <button mat-menu-item (click)="goToBillboardScreen()">
        <mat-icon>table_chart</mat-icon>
        <span>Billboard Charts</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <span>My Account</span>
      </button>
    </mat-menu>
