mat-card {
  margin: 0 auto;
  padding: 32px;
  font-size: 16px;
}

mat-card-actions {
  margin: 0;
}

.mat-card-subtitle {
  font-size: 16px;
}

.mat-card-avatar {
  height: 300px;
  width: 300px;
  border-radius: 0;
}

.mat-card-title {
  font-size: 32px;
  font-weight: bold;
}

// With Chips
.withChips {
  .mat-card-title {
    margin-top: -4px;
  }
}

// Without Chips
.withoutChips {
  .mat-card-title {
    margin-top: 3px;
    margin-bottom: 20px;
  }
}


mat-chip-list {
  display: inline-block;
  // vertical-align: middle;
  height: 38px;
  vertical-align: middle;
  margin-left: 16px;
}

mat-chip {
  cursor: pointer;
}

.subscribed {
  color: gray;
}

.unsubscribed {
  color: black;
}
