<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="album.albumCover">
    <mat-card-title>
      {{album.albumName}}
      <mat-chip-list><mat-chip>#3 Album of All Time</mat-chip></mat-chip-list>
    </mat-card-title>
    <mat-card-subtitle>Album</mat-card-subtitle>
    <mat-card-subtitle>{{album.albumArtist}} • {{album.albumYear}} • {{album.songCount}} Songs</mat-card-subtitle>
    <mat-card-subtitle>
      {{album.albumDescription}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>
      <i class="material-icons">play_arrow</i>
      PLAY
    </button>
    <button mat-raised-button>
      <i class="material-icons">shuffle</i>
      SHUFFLE PLAY
    </button>
    <button mat-icon-button [matMenuTriggerFor]="moreOptions">
      <mat-icon>
        more_vert
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>


<mat-menu #moreOptions="matMenu">
  <button *ngIf="!isSaved" mat-menu-item (click)=saveAlbum()>
    <mat-icon>library_music</mat-icon>
    <span>Add Album to My Music</span>
  </button>
  <button *ngIf="isSaved" mat-menu-item (click)=deleteAlbum()>
    <mat-icon>library_music</mat-icon>
    <span>Remove Album to My Music</span>
  </button>
</mat-menu>
