<mat-list-item matRipple [matRippleDisabled]="true" [ngClass]="{'song-item-desktop': !isMobile}"
               (click)="isMobile && playSong();" (mouseup)="isMobile && rippleButton($event)" id="song-list-item">

  <!-- Album Cover & Play Button Combo -->
  <div matListAvatar class="album-cover-play-button-container">
    <img matListAvatar id="album-cover-image" [src]="song.albumCover">
    <button (click)="playSong()" mat-icon-button class="play-button">
      <i class="material-icons">
        play_arrow
      </i>
    </button>
  </div>

  <!-- Song Name -->
  <h3 id="song-name" matLine> {{song.songName}} </h3>

  <!-- Song Meta Info (Artist Name, Album Name, Song Length) -->
  <p matLine>
    <span (click)="!isMobile && goToArtist()" class="song-meta-info" [ngClass]="{'song-meta-info-selectable': !isMobile}">{{song.artistName}}</span> •
    <span (click)="!isMobile && goToAlbum()" class="song-meta-info" [ngClass]="{'song-meta-info-selectable': !isMobile}">{{song.albumName}}</span> •
    <span class="song-meta-info">{{song.songLength}}</span>
  </p>

  <!-- Song Actions -->
  <button (click)="dislikeSong()" class="song-options-button" mat-icon-button
          [ngClass]="{'song-options-button-selected': this.song.songDisliked, 'hideDesktop':!isMobile}">
    <i [ngClass] = "{'material-icons'         :  this.song.songDisliked,
                     'material-icons-outlined': !this.song.songDisliked}">thumb_down</i>
  </button>

  <button (click)="likeSong()" mat-icon-button class="song-options-button"
          [ngClass]="{'song-options-button-selected': this.song.songLiked, 'hideDesktop':!isMobile}">
    <i [ngClass] = "{'material-icons'         :  this.song.songLiked,
                     'material-icons-outlined': !this.song.songLiked}">thumb_up</i>
  </button>

  <!-- Small screen display:none unless hover, mobile always display -->
  <button (click)="$event.stopPropagation()" class="song-options-button" mat-icon-button [matMenuTriggerFor]="moreOptions"
          [ngClass]="{'hideDesktop':!isMobile}" [hidden]="!isMobile && screenWidth <= sm" >
    <i class="material-icons-outlined">more_vert</i>
  </button>

  <mat-menu #moreOptions="matMenu">
    <button mat-menu-item>
      <mat-icon>album</mat-icon>
      <span>Go to Album</span>
    </button>
  </mat-menu>

</mat-list-item>
