<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="playlist.playlistCover">
    <mat-card-title>{{playlist.playlistName}}</mat-card-title>
    <mat-card-subtitle>
      {{playlist.songCount}} Songs
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>

    <button mat-raised-button style="color: black;">
      <i class="material-icons">play_arrow</i>
      PLAY
    </button>

    <button mat-raised-button style="color: black;">
      <i class="material-icons">shuffle</i>
      SHUFFLE PLAY
    </button>

  </mat-card-actions>
</mat-card>
