mat-card {
  cursor: pointer;
  max-width: 168px;
}

img {
  background-size: cover;
  height: 200px;
  width: 200px;
}

.artist-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}

.album-count {
  color: gray;
}

// Prevent Card From Expanding Due to Ripple
.mat-card-content {
  margin-bottom: 0;
}
