mat-card {
  width: 100%;
  padding: 0;
}

.play-button {
  border-radius: 0;
  height: 50px;
  width: 40px;
}

mat-slider {
  width: 100%;
  padding: 0px;
  margin-top: -21px !important;
}

mat-slider:hover {
  cursor: pointer;

  ::ng-deep.mat-slider-thumb {
    visibility: visible;
  }

}

mat-slider:active {
  ::ng-deep.mat-slider-thumb {
    visibility: visible;
  }
}

::ng-deep.mat-slider-thumb {
  visibility: hidden;
}

  // mat-slider ::ng-deep .mat-slider-horizontal .mat-slider-wrapper {
  //   left: -9px !important;
  // }


// .show-thumb {
// ::ng-deep.mat-slider-thumb {
//   visibility: visible;
// }

  // mat-slider .mat-slider-wrapper ::ng-deep .mat-slider-horizontal .mat-slider-wrapper {
  //   left: -16px !important;
  // }
// }

 .mat-slider-horizontal .mat-slider-wrapper {
  top: 8px !important;
  right: -16px !important;
}

::ng-deep.mat-slider-horizontal {
  height: 16px !important;
}

mat-list {
  position: absolute;
  left: 0;
  padding: 0px;
  // padding-bottom: 4px;
}

.player-song-list ::ng-deep.mat-list-item-content {
  padding: 0 !important;
}

::ng-deep.mat-slider-thumb:hover {
  scale: 1 !important;
}

.arrow-icon {
  font-size: 32px;
  font-weight: bold;
}

.song-item-tile {
  display: flex;
  overflow-x: auto;
}
