mat-card {
  width: 100%;
  padding: 0;
}

.play-button {
  border-radius: 0;
  height: 50px;
  width: 40px;
}

mat-slider {
  width: calc(100% + 8px);
  bottom: 46px;
  position: absolute;
  z-index: 1;
  padding-left: 0;
}

mat-slider:hover {
  cursor: pointer;

  ::ng-deep.mat-slider-thumb {
    visibility: visible;
  }

}

mat-slider:active {
  ::ng-deep.mat-slider-thumb {
    visibility: visible;
  }
}

::ng-deep.mat-slider-thumb {
  visibility: hidden;
}

mat-list {
  position: absolute;
  left: 0;
  padding: 0px;
}

.player-song-list ::ng-deep.mat-list-item-content {
  padding: 0 !important;
}

::ng-deep.mat-slider-thumb:hover {
  scale: 1 !important;
}

.arrow-icon {
  font-size: 32px;
  font-weight: bold;
}

.song-item-tile {
  display: flex;
  overflow-x: auto;
}

button {
  z-index: 2;
}

::ng-deep .mat-slider-wrapper {
  left: 0px !important;
}

// .showThumbMobile {
//   ::ng-deep.mat-slider-thumb {
//     visibility: visible !important;
//   }
// }
