<h1 mat-dialog-title>Sign Up</h1>
<div mat-dialog-content>

  <button class="facebook" mat-button>
    <i class="fa fa-facebook" aria-hidden="true"></i>
    SIGN UP WITH FACEBOOK
  </button>
  <button class="google" mat-button (click)="signUpProvider()">
    <i class="fa fa-google" aria-hidden="true"></i>
    SIGN UP WITH GOOGLE
  </button>

  <br>

  <form>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email">
    </mat-form-field>

    <br>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" name="password">
    </mat-form-field>

  </form>


</div>
<div mat-dialog-actions>
  <button mat-outline-button mat-dialog-close (click)="signUpEmail()"> Sign up </button>
</div>
