@import '../song-list-item.scss';

// // Portrait Phones
// @media (max-width: 575.98px) {

//   // Hide Like/Dislike buttons
//   .song-options-button:not(:last-of-type) {
//     display: none !important;
//   }

//   mat-list-item:hover .song-options-button:last-of-type {
//     display: block !important;
//   }

// }

// // Landscape Phones
// @media (min-width: 576px) and (max-width: 767.98px) {
//   // Hide Like/Dislike buttons
//   .song-options-button:not(:last-of-type) {
//     display: none !important;
//   }

//   mat-list-item:hover .song-options-button:last-of-type {
//     display: block !important;
//   }
// }

// // Tablets
// @media (min-width: 768px) and (max-width: 991.98px) {
//   mat-list-item {
//     background-color: red;
//   }
// }

// // Desktops
// @media (min-width: 992px) and (max-width: 1279.98px) {

// }

// // Large Desktops
// @media (min-width: 1280px) {

// }

// The Song Item
#song-list-item {
  height: 72px;
}

//**********************************************************************************************************************
// Song Meta Info (Artist Name, Album Name, Song Length)

// Artist name, album, song length etc.
.song-meta-info {
  color: gray;
}

// Hover over meta info change pointer
.song-meta-info-selectable {
  cursor: pointer;
}

// Underline meta info on hover
.song-meta-info-selectable:hover {
  text-decoration: underline;
}

//**********************************************************************************************************************
// Song Actions

// Color action buttons
.material-icons-outlined {
  color: gray;
  opacity: 0.8;
}

// // Make buttons visible when hovered over (Non-Mobile)
// mat-list-item:hover {
//   .song-options-button {
//     visibility: visible;
//   }
// }

// Like, disklike and more options
.song-options-button {
  margin-left: 8px;
}

// Like and disklike when selected.
.song-options-button-selected {
  visibility: visible;
  margin-left: 8px;
}

//**********************************************************************************************************************
// Album Cover & Play Button Combo

// Setting Container size for image and play button
.album-cover-play-button-container {
  width: 56px !important;
  height: 56px !important;

}

.play-button {
  position: absolute;
  margin-top: 8px;
  margin-left: -48px;
  color: white;
  visibility: hidden;
}

#album-cover-image {
  height: 56px;
  width: 56px;
  border-radius: 7px;
}

// On hovering the mat-list-item, the play button appears and dims the image
.song-item-desktop:hover {
  #album-cover-image {
    filter: brightness(60%);
  }

  .play-button {
    visibility: visible;
  }
}

//**********************************************************************************************************************

#song-name {
  font-weight: bold;
}

[hidden] {
  display: none !important;
}

.hideDesktop {
  visibility: hidden;
}
