// Portrait Phones
@media (max-width: 575.98px) {
  mat-list {
    background-color: rgba(111, 14, 136, 0.2);
  }
}

// Landscape Phones
@media (min-width: 576px) and (max-width: 767.98px) {
  mat-list {
    background-color: rgba(189, 136, 39, 0.2);
  }
}

// Tablets
@media (min-width: 768px) and (max-width: 991.98px) {
  mat-list {
    background-color: rgba(0,0,255,0.2);
  }
}

// Desktops
@media (min-width: 992px) and (max-width: 1279.98px) {
  mat-list {
    background-color: rgba(0,255,0,0.2);
  }
}

// Large Desktops
@media (min-width: 1280px) {
  mat-list {
    background-color: rgba(255,0,0,0.2);
  }
}
