// Import styles common to all types of song-list-item
@import '../song-list-item.scss';

#song-length {
  color: gray;
  margin: 0 0 0 16px;
}

.song-info {
  width: 100%;
  text-align: left;
  margin: 0;
}

.song-info:last-child {
  margin-right: 8px;
}

//**********************************************************************************************************************
// Album Cover & Play Button Combo

// Setting Container size for image and play button
.album-cover-play-button-container {
  width: 56px !important;
  height: 56px !important;
}

.play-button {
  position: absolute;
  margin-top: 12px;
  margin-left: -36px;
  color: white;
  visibility: hidden;
}

#album-cover-image {
  height: 42px;
  width: 42px;
  border-radius: 4px;
  margin-left: 7px;
  margin-top: 7px;
}

// On hovering the item, the play button appears and dims the image
.mat-list-item:hover {

  #album-cover-image {
    filter: brightness(60%);
  }

  .play-button {
    visibility: visible;
  }
}
