<!-- Song List Item Found in Album Page -->
<mat-list-item id="song-list-item" (mouseover)="showPlayButton=true" (mouseout)="showPlayButton=false">

  <!-- Album Cover & Play Button Combo -->
  <div matListAvatar class="album-cover-play-button-container">
    <img matListAvatar id="album-cover-image" [src]="song.albumCover">
    <button (click)="playSong()" mat-icon-button class="play-button" style="width:30px;height:30px;">
      <i class="material-icons" style="margin-bottom: 10px;">
        play_arrow
      </i>
    </button>
  </div>

  <!-- Song, Artist & Album Name -->
  <div matLine>
    <mat-grid-list cols="3" rowHeight="56px">
      <mat-grid-tile>
        <h3 class="song-info" id="song-name">
          {{song.songName}}
        </h3>
      </mat-grid-tile>
      <mat-grid-tile>
        <h3 class="song-info">
          {{song.artistName}}
        </h3>
      </mat-grid-tile>
      <mat-grid-tile>
        <h3 class="song-info">
          {{song.albumName}}
        </h3>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <button (click)="dislikeSong()" class="song-options-button" mat-icon-button
          [ngClass]="{'song-options-button-selected': this.song.songDisliked}">
    <i [ngClass] = "{'material-icons'         :  this.song.songDisliked,
                     'material-icons-outlined': !this.song.songDisliked}">thumb_down</i>
  </button>
  <button (click)="likeSong()" mat-icon-button class="song-options-button"
          [ngClass]="{'song-options-button-selected': this.song.songLiked}">
    <i [ngClass] = "{'material-icons'         :  this.song.songLiked,
                     'material-icons-outlined': !this.song.songLiked}">thumb_up</i>
  </button>
  <button class="song-options-button" mat-icon-button [matMenuTriggerFor]="moreOptions" >
    <i class="material-icons-outlined">more_vert</i>
  </button>

  <!-- More Options Menu -->
  <mat-menu #moreOptions="matMenu" [overlapTrigger]='false'>
    <button mat-menu-item>
      <mat-icon>playlist_add</mat-icon>
      <span>Add to Playlist</span>
    </button>
  </mat-menu>

  <!-- Playlist Menu -->
  <!-- <mat-menu #playlist='matMenu'>
    <app-playlist-menu></app-playlist-menu>
  </mat-menu> -->


  <!-- Song Length -->
  <h3 id="song-length"> {{song.songLength}} </h3>

</mat-list-item>
