<mat-card (click)="goToPlaylist()" matRipple>

  <img *ngIf="playlist.playlistCover" mat-card-image [src]="playlist.playlistCover">

  <div *ngIf="!playlist.playlistCover" class="default-image" mat-card-image>
    <mat-icon class="default-playlist-cover">playlist_add</mat-icon>
  </div>

  <mat-card-content>

    <div class = "playlist-name">
      {{playlist.playlistName}}
    </div>

    <div class="playlist-song-count">
      {{playlist.songCount}} Songs
    </div>

  </mat-card-content>
</mat-card>
